@page
@model System_Shopper.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenticatedLayout" : "_Layout";
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount (%)</th>
            <th>Discounted Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{
            var CartItems = new List<dynamic>
            {

            };

            var Discount = new Dictionary<string, decimal>
            {

            };

            foreach (var item in CartItems)
            {
                decimal discount = Discount.ContainsKey(item.Product) ? Discount[item.Product] : 0;
                decimal discountedPrice = item.Price * (1 - (discount / 100m));
                decimal itemTotal = discountedPrice * item.Quantity;

                <tr>
                    <td>@item.Product</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@discount</td>
                    <td>@discountedPrice.ToString("C")</td>
                    <td>@itemTotal.ToString("C")</td>
                </tr>
            }
        }
    </tbody>
</table>
