@page
@model System_Shopper.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenticatedLayout" : "_Layout";
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount (%)</th>
            <th>Discounted Price</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            decimal discount = item.DiscountPercent;
            decimal discountedPrice = item.Price * (1 - (discount / 100m));
            decimal itemTotal = discountedPrice * item.Quantity;

            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@discount</td>
                <td>@discountedPrice.ToString("C")</td>
                <td>@itemTotal.ToString("C")</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="id" value="@item.ProductId" />
                        <button type="submit" asp-page-handler="DeleteFromCart" class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
