@page
@model System_Shopper.Pages.System_Builder.IndexModel
@{
    ViewData["Title"] = "System Builder";
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenticatedLayout" : "_Layout";
    }
}

<script type="text/javascript">

    const SystemListOut = [
        {
            right: "0px",
        },
        {
            right: "-80px",
        },
    ];

    const SystemListIn = [
        {
            right: "-80px";
        },
        {
            right: "0",
        },
    ];

    const SystemList = document.getElementById("SystemList");
    const ListButton = document.getElementById("ListTrigger");

    ListButton.addEventListener("click", () => {
        if (SystemList.style.right == 0) {
            console.log("reached if");
            SystemList.animate(SystemListOut, 100);
        } else {
            console.log("reached else");
            SystemList.animate(SystemListIn, 100);
        }
    });
</script>

<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-sm-3">
            <h2 style="color: #1D2F6F"><i class="bi bi-bricks"></i> System Builder</h2>
        </div>
    </div>
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-8">
            <h4>Filters:</h4>
            <a class="px-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">A-Z</a>
            <a class="px-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Z-A</a>
            <a class="px-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Price</a>
        </div>
        <!-- <div style="background-color: #8390FA" class="col-sm-4 mt-3">
             <div id="ListTrigger">System Items</div>
        </div> -->
    </div>
    <div class="row">
        <!-- Categories -->
        <form method="post">
            <div class="col-sm-2 mt-2">
                <input type="radio" id="filterCase" value="Case" />
                <label for="filterCase">Computer Cases</label>

                <input type="radio" id="filterCPU" value="CPU" />
                <label for="filterCPU">CPUs</label>

                <input type="radio" id="filterCooler" value="Coolers" />
                <label for="filterCooler">CPU Coolers</label>

                <!--<ul>
                    <li>Cases</li>
                    <li>CPUs</li>
                    <li>Coolers</li>
                    <li>Graphics Cards</li>
                    <li>Motherboards</li>
                    <li>RAM</li>
                    <li>Storage</li>
                    <li>Power Supplies</li>
                </ul>-->
            </div>
        </form>
        <!-- Products -->
        <div class="col-sm-10 mt-2">
            @foreach (var product in Model.Products)
            {
                <!--Product List-->
                <div style="border-style: solid; border-color: #1D2F6F; display: inline-block" class="col-5 mb-3 p-2 rounded">
                    <div class="row">
                        <div class="col-sm-5">
                            <!-- Product Image and Price-->
                            <img style="width: 150px;" class="img-fluid" src="@product.ProductImage" alt="Product Image" /> 
                            <h3>$<b>@product.Price</b></h3>
                        </div>
                        <!-- Product Information -->
                        <div class="col-sm-7">
                            <!-- Product Name -->
                            <div class="row">
                                <h6>@product.ProductName</h6>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <a type="submit" style="background-color: #FAC748;" asp-page="/System Builder/AddProductToList" asp-route-id="@product.ProductId" class="btn mb-3">
                                        <i class="bi bi-plus mx-1"></i> Add To System
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- TEST Display system list quantities -->
    <div class="row">
        <div class="col-6">
            @foreach (var productList in Model.ProductList)
            {
                <p>Quantity: @productList.Quantity</p>
            }
        </div>
    </div>
    <!-- System List -->
    <div id="SystemListLabel" style="background-color: #8390FA" class="p-1">
        <h5>Your System: </h5>
    </div>
    <div id="SystemList" class="p-2">
        @foreach (var product in Model.ProductsInList)
        {
            <div class="row">
                <div class="col">
                    <img style="width: 50px; display: inline;" class="img-fluid" src="@product.ProductImage" alt="Product Image" />
                </div>
                <div class="col">
                    <h5><b>$@product.Price</b></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <p>@product.ProductName</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a type="submit" asp-page="/System Builder/RemoveProductFromList" asp-route-id="@product.ProductId" class="btn btn-danger mb-3">
                        <i class="bi bi-x-circle mx-1"></i> Remove
                    </a>
                </div>
            </div>
        }
    </div>
</div>
